
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Diego Rodriguez</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/diegorodriguez.jpg' %}" >
					<hr>
					<h4>Hi I'm Diego Rodriguez!</h4>
					<p>I love coding and doing reasearch</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Program as a Developer</h4>
					<hr>
					<p>My first program was created in highschool using Java. The program consisted of a simple text displayed to the screen saying "Hello World!". While taking other classes based on computer maintence, I practiced on mastering Java. As time flew by and I started to take college courses I learned a new language called C++.</p>

					<p>As I started to take more courses in my community college, more computer languages started emerging and I started learning. Before I knew it I was able to script in Java, C++, Assembly Launguage, and HTML.</p>

					<p>It just shows to see that I am someone that likes to learn and develope along the way.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Taking it day by day and learning.</p>
					<p>Designed a game of ping pong using Java, made small programs using newly learned languages, and plan on learning new things to continue my coding journy.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know Now</h5>
					<hr>
					<p>C++, Java, Ruby On Rails, Objective C, Python, HTML, and our newest computer language for web development... Django</p>
					<p>Working on learning JavaScript and any other language that catches my attention.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>By Reverse Engineering & Mentor/Teacher</p>

					<p>I learn by taking looking at other projects that other people work on. I see the way the code is written and implament my work along the way. I also learn by having a really good mentor or teacher.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost four years of learning diffrent computer languages, I’m ready to learn something new. Django will lead me to a new experinece on created website for future company's. I'll collaborating and share my knowledge with others colleges along the way.</p>
				<p>I see myself in 5 years working for a big company learning more information from others that are more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>